
header {
  height: 100px;
  width: 100%;
  background-color: blue;
}
 
.newone {
  height: 400px;
  width: 100%;
  background-color: green;
}
.card-sticky{
  z-index: 10;
  position: -webkit-sticky; /* Safari */
  position: sticky!important;
  top: 71px!important;
  border-radius: 20px!important;
  padding-top: 59px!important;
 }
.card-sub {
  top: -100px!important;
  z-index: 1!important;
  border-radius: 20px!important;
}
.col.sticky-top {
  align-self: flex-start!important;
}
.card-title-cartao-sticky {
font-family: Barlow!important;
font-size: 48px!important;
font-style: normal!important;
font-weight: 700!important;
line-height: 52px!important;
letter-spacing: 0px !important;
text-align: center!important;
color: #000099!important;

}
.card-subtitle-cartao-sticky {
font-family: Barlow!important;
font-size: 16px!important;
font-style: normal!important;
font-weight: 500!important;
line-height: 24px!important;
letter-spacing: 0px!important;
text-align: center!important;
color: #000099!important;

}
.card-text-cartao-sticky {
font-family: Barlow!important;
font-size: 14px!important;
font-style: normal!important;
font-weight: 500!important;
line-height: 20px!important;
letter-spacing: 0px!important;
text-align: center!important;
color: #0066FF!important;
padding-bottom: 0px!important;

}
.card-link-cartao {
font-family: Barlow!important;
font-size: 18px!important;
font-style: normal!important;	
font-weight: 500!important;
line-height: 22px!important;
letter-spacing: 0px!important;
color: #0066FF!important;

}
.card-link-cartao-sticky {
font-family: Barlow!important;
font-size: 18px!important;
font-style: normal!important;
font-weight: 500!important;
line-height: 22px!important;
letter-spacing: 0px!important;
color: #0066FF!important;
padding-top: 0!important;
} 
.card-notext-cartao-sticky{
font-family: Barlow!important;
font-size: 16px!important;
font-style: normal!important;
font-weight: 500!important;
line-height: 24px!important;
letter-spacing: 0px!important;
text-align: center!important;
color: #5E737E!important;
}
.card-sub-inner {
  padding: 5px!important;
  margin: 0!important;
  height: 300px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-sub-inner-text {
  padding: 5px!important;
  margin: 0!important;
  height: 300px;
  width: 330px;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;


}
hr {
border: 1px solid #C4D9EB;
width: 100px;
margin-top: 0!important;
  margin-bottom: 0!important;

}
.background-agregador {
background-color: #DFEAF2;
  width: 100%;
  height: 2730px;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 690px;
  text-align: center;


}
.card-type-cartao {
font-family: Barlow!important;
font-size: 18px!important;
font-style: normal!important;
font-weight: 500!important;
line-height: 24px!important;
letter-spacing: 0px!important;
text-align: center!important;
color: #000099!important;
}
.card-title-cartao {
font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
  color: #000099;
}


.card-title-dois-cartao {
color: #0066FF;
font-family: Barlow;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 38px;
letter-spacing: 0px;
text-align: center;
}

.button-agregador {
padding: 20px 65px 24px 64px;
background-color: #0066FF;
font-family: Barlow;
border-radius: 50px;
color: white;
border: none;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
}	

.button-agregador:hover {
background-color: #0066FF!important;
}

.title-agregador {
font-family: Barlow!important;
font-style: normal!important;
font-weight: 600!important;
font-size: 62px!important;
line-height: 66px!important;
color: #000099!important;
}

.subtitle-agregador {
font-family: Barlow!important;
font-style: normal!important;
font-weight: 500!important;
font-size: 18px!important;
line-height: 24px!important;
color: #000099 !important;
}

.wrapper {
    display: flex;
  align-self: center;
  width: 80%;
  justify-content: space-between;
}
.wrapper p {
margin-top: 0!important;
margin-bottom: 0!important;
}

.one {
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #000099;
}


.two {
font-family: Barlow;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
color: #0066FF;
}

.bbest-cards-comparador-simples-mobile{
  display: none;
}
.bbest-cards-comparador-simples-desktop{
  display: block;
}



.selectors {
  display: flex;
  position: sticky;
  background-color: blue;
  padding: 15px;
  z-index: 99999;
  top: 2px;
  
}

.myDiv {
  display: none;
}


.myDivtwo {
  display: none;
}

#showOne {
  display: block;
}
#showtwoTwo {
  display: block;
}
#myselectionone {
  border-radius: 30px;
  border: 1px solid #000099;
  padding: 15px;
  width: 50%;
}
#myselectiontwo {
  width: 50%;
  border-radius: 30px;
  border: 1px solid #000099;
  padding: 15px;
}

@media (max-width: 500px) {
 

}


@media screen and (max-width: 768px){
  .card-title-cartao {
      font-size: 24px !important;
  }
  .card-title-dois-cartao {
      font-size: 25px !important;
  }
  .bbest-cards-comparador-simples-mobile{
    display: block;
  }
  .bbest-cards-comparador-simples-desktop{
    display: none;
  }
  .button-agregador {
    padding: 10px 30px;
  }
  .card-title-dois-cartao {
    font-size: 20px!important;
  }
  .card-title-cartao {
    font-size: 24px!important;
  }
  .card-title-cartao-sticky {
    font-size: 30px!important;
  }
  .card-sub-inner-text {
    width: auto;
  }
 
  #myselectionone, #myselectiontwo {
    display: block;
  }
}

@media screen and (max-width: 1091px) {
  .button-agregador {
    padding: 10px 30px;
  }
  .card-title-cartao {
      font-size: 24px !important;
  }
  .card-title-dois-cartao {
      font-size: 25px !important;
  }
}